<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team2.finance">

    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utility.Payment.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finance">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />



        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>

        <meta-data
            android:name="sqip.SQUARE_APPLICATION_ID"
            android:value="sandbox-sq0idb-i7un8hXYa-mH5ENdFSX-yQ"/>


        <activity
            android:name=".Pages.CheckoutActivity"
            android:exported="false" />
      
        <activity
            android:name=".Pages.EditProfile"
            android:exported="false" />
      
        <activity
            android:name=".Pages.Profile"
            android:exported="false" />
      
              <activity
            android:name=".exchnage.StockMarket"
            android:exported="false" />

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfq_ZF-_lvuliR4CNiEIs-PFy_QyvQcL8" />

        <activity
            android:name=".Map.AtmMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_atm_maps" />
        <activity
            android:name=".Map.BanksMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_banks_maps"
            android:launchMode="singleTask" />
        <activity
            android:name=".Pages.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".exchnage.Exchange"
            android:exported="false" />
        <activity
            android:name=".Utility.BaseActivity"
            android:exported="false" />


        <activity
            android:name=".exchnage.CryptoExchange"
            android:exported="false" />
        <activity
            android:name=".Login.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>





</manifest>


